textarea {
    resize: none;
}

body {
	text-align: center;
}

h1 {
	font-size: 2.5em;
}

#footer {
	padding-top: 50px;	
	color: #666;
	clear: left;
}

#input-area-wrapper, #output-area-wrapper {
	overflow:auto;
}

#section, #input-area-wrapper, #output-area-wrapper {
	width: 70%;
	margin: 0 auto;
}

#section {
	padding-top: 50px;
}

#section span {
	float: left;
	font-size: 1.5em;
}

#section select {
	float: right;
}

#input-text-area, #output-text-area {
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	border-color: #666;
	float: left;
	height: 150px;
	padding: 1%;
	width:98%
}

#input-area, #output-area {
	width: 75%;
	float: left;
}

#input-img, #output-img {
	width: 100%;
	max-width: 128px;
	cursor: pointer;
}

.hidden {
	visibility:hidden;
}

.show {
	visibility:visible;
}

#output-area-wrapper {
	margin-top: 40px;
	padding-top: 20px;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #666;
}

#input-img-wrapper {
	width:23%;
	float:left;
}


#text-to-speech-button {
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4;
	display: inline-block;
	padding: 6px 3px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	width: 23%;
}

@media (max-width: 580px) {
	#text-to-speech-button {
		padding: 6px 0px;
		font-size: 10px;
	}
}
